/* .first-nav {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: aliceblue;
    align-items: center;
    height: 50px;
}

.sec-nav {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: aliceblue;
    align-items: center;
    height: 50px;
    margin-top: 50px;
    flex-direction: row-reverse;
}

.three-nav {
    display: flex;
    justify-content: center;
    background-color: blue;
    color: aliceblue;
    align-items: center;
    height: 50px;
    margin-top: 50px;
    flex-direction: row;


}

.wik {
    align-items: flex-start;
    font-size: 22px;
    border: 2px solid #4f7;
    padding: 0 15px 15px 15px;
    
}

div {
    font-size: 22px;
    border: 2px solid #4f7;
    padding: 15px;
    min-width: 70px;
}

.four-nav {
    display: flex;
    justify-content: center;
    background-color: blue;
    color: aliceblue;
    align-items: center;
    height: 50px;
    margin-top: 50px;
    flex-direction: row;
    height: 200px;
}

.four-nav .wik {
    width: 50px;
    padding: 20px;
    overflow: hidden;
}

.five-nav {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    color: aliceblue;
    align-items: center;
    height: 150px;
    margin-top: 50px;
    justify-content: center;
}

.six-nav {
    display: flex;
    justify-content: center;
    background-color: blue;
    color: aliceblue;
    align-items: flex-start;
    height: 50px;
    margin-top: 50px;
    flex-direction: column;
    height: 200px; 
} */

/* 
Магазин */

.pitka {
    width: 70%;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.preview {
    margin: 30px 0;
    flex-shrink: 1;
    justify-content: space-around;
    width: 33%;  
    min-width: 20%;
}

.ima {
    background-color: violet;
    border: 1px solid #000;
    border-radius: 3px;
    height: 400px;
    width: 95%;
    
}

.name {
    font-size: 16px;
    margin-top: 20px;
}

.description {
    font-size: 14px;
    margin-top: 15px;

}

.pakt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center; 
}

.preview.grut {
    flex-shrink: 2;
    width: 45%;
 
    
}
